.projects {
  width: 100%;
  background-color: rgb(93, 113, 113);
}

/* .carousel {
} */

.websites {
  justify-items: center;
}

/* @media only screen and (max-width: 768px) {
  .carousel {
  }
} */
