.projects {
  width: 100%;
  height: auto;
  padding-bottom: 100px;
}

.title {
  text-align: center;
}

.vertical-timeline-element--work {
  height: 65vh;
}

/* @media only screen and (max-width: 768px) {
  .timeline {
  }
} */
