.projects {
  width: 100%;
  height: 85vh;
  background-color: rgb(93, 113, 113);
}

.title {
  text-align: center;
}

/* .carousel {
} */

.websites {
  justify-items: center;
}

/* @media only screen and (max-width: 768px) {
  .carousel {
  }
} */
