.about {
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

#intro {
  text-align: center;
  font-size: 50px;
  text-decoration: underline;
}

.aboutMe {
  text-align: center;
  max-width: 700px;
  font-size: 40px;
  color: #261510;
  margin: 0 auto;
  padding: 20px;
}

.wave {
  animation-name: wave-animation;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  transform-origin: center center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  text-align: center;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  }
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

#skills {
  text-align: center;
  font-size: 40px;
  text-decoration: underline;
}

.talent {
  display: flex;
  flex-wrap: wrap; /* Allow bubbles to wrap into columns */
  justify-content: center;
  margin-top: 20px;
  max-width: 100%; /* Ensure it doesn't go outside the page */
}

.skill-bubble {
  background-color: #074c7acf;
  color: white;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 45px;
  animation: float 5s infinite;
  margin: 10px; /* Add margin to create space between bubbles */
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

@media only screen and (max-width: 768px) and (min-width: 320px) {
  .about {
    width: auto;
    height: auto;
  }

  .aboutMe {
    font-size: 22px;
    padding: 20px;
  }

  #intro {
    text-align: center;
    font-size: 40px;
  }
}
