.home {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 92vh;
}

.type {
  height: 2rem;
  font-size: 24px;
  padding-left: 20px;
  color: #c7d4e4;
  text-shadow: 1px -2px 2px #261510;
  font-family: "Exo", sans-serif;
  font-family: "Josefin Sans", sans-serif;
}

.photo {
  width: 650px;
  height: auto;
}

@keyframes animatedBackground {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 50% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.flyinTxtCont {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding-bottom: 45px;
  margin-left: 1em;
}
.flyIn {
  color: #fff;
  font-family: "Raleway";
  text-transform: uppercase;
  line-height: 1.2em;
  position: relative;
  text-shadow: 10px 10px 15px rgba(0, 0, 0, 0.7);
}
.lineOne {
  transition-delay: 0.2s;
  transition: 0.4s ease in;
  animation: txtFlyIn 0.3s linear;
}
.lineOne {
  color: #261510;
  font-size: 55px;
  font-family: "Exo", sans-serif;
  font-family: "Josefin Sans", sans-serif;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes txtFlyIn {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}

@media only screen and (max-width: 768px) {
  .home {
    flex-direction: column;
  }

  .photo {
    height: auto;
    width: 500px;
    padding-top: 100px;
    text-align: center;
    box-shadow: 20px 20px 10px rgba(0, 0, 0, 0.5);
  }
}

@media only screen and (max-width: 375px) {
  .home {
    flex-direction: column;
  }

  .photo {
    height: auto;
    width: 300px;
    padding-top: 100px;
    text-align: center;
    box-shadow: 20px 20px 10px rgba(0, 0, 0, 0.5);
  }
}
