body {
  font-family: "Exo", sans-serif;
  font-family: "Josefin Sans", sans-serif;
}

.main {
  margin-left: 280px;
  padding: 0px 10px;
}

@media only screen and (max-width: 768px) {
  .main {
    margin: auto;
  }
}
