.container {
  height: 100%;
  width: 235px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #261510b4;
  border-right: 5px solid #fbfbfbd4;
  overflow-x: hidden;
  padding-top: 20px;
  border-radius: 0% 0% 20% 0%;
}

.pages {
  font-size: 40px;
  color: #b5adad;
  display: flex;
}

.pages ul {
  list-style-type: none;
}

.pages ul li {
  margin-top: 7rem;
  text-align: center;
  transition: color 0.3s;

  &:hover {
    color: #b73737;
    text-shadow: 2px 5px 3px rgba(21, 20, 20, 0.5);
    cursor: pointer;
  }
}

.social {
  position: fixed;
  bottom: 25px;
  margin-left: 30px;
}

@media only screen and (max-width: 768px) {
  .container {
    display: none;
  }
}
