.container {
  height: 100%;
  width: 280px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #261510;
  border-right: 2px solid #92a1ab;
  overflow-x: hidden;
  padding-top: 20px;
}

.pages {
  font-size: 40px;
  color: #818181;
  display: flex;
}

.pages ul {
  list-style-type: none;
}

.pages ul li {
  margin-top: 7rem;
  text-align: center;
  transition: color 0.3s;

  &:hover {
    color: #954545;
    text-shadow: 2px 5px 3px rgba(143, 143, 143, 0.5);
    cursor: pointer;
  }
}

.social {
  position: fixed;
  bottom: 25px;
  margin-left: 30px;
}

@media only screen and (max-width: 768px) {
  .container {
    display: none;
  }
}
